body {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 20px;
    height: 100vh;
    touch-action: manipulation;
}
button, input{
    font-size: 2em;
}
#url{
    grid-column: span 3;
}